{% extends '@AllmegaMeeting/layout.html.twig' %}

{% block title %}
    {{ 'point.show.title'|trans({}, params.domain) ~ ' | ' ~ point.title }}
{% endblock %}

{% block main %}
	{{ include(params.path ~ 'show/_layout.html.twig') }}
{% endblock %}