{% for meeting in meetings %}
	{{ allmega_render_dashboard_box_item({
			'title': {
				'content':  allmega_render_link({
					'label': meeting.title|slice(0,70),
					'path': path(params.route ~ 'show', {'id': meeting.id})
				})
			},
			'content': meeting.description|slice(0,200)|raw,
			'badge': meeting.created|allmega_is_new,
		})
	}}
{% else %}
	{{ 'meeting.empty.member'|trans({}, params.domain) }}
{% endfor %}