{% if meeting.url|default(false) %}
	<div class="text-end">
		{{ allmega_render_link({
				'icon': 'external-link-square-alt', 'path': meeting.url,
				'title': 'meeting.label.url'|trans({}, params.domain),
			})
		}}
	</div>
{% endif %}