{{ allmega_media_render_files_widget({
        'show': params.meetingVoter.isGranted('meeting-edit', meeting, app.user),
        'route': params.route ~ 'show',
        'folder': meeting.mediaDir,
        'navid': meeting.id,
        'id': meeting.id
    })
}}