{% trans_default_domain params.domain %}

{% set links = [] %}

{% if params.pointVoter.isGranted('meeting-point-add', params.meeting, app.user) %}
    {% set links = links|merge([{
            'load': true, 'icon': 'plus-circle', 'title': 'point.create'|trans,
            'path': path(params.point.route ~ 'add', {'id': params.meeting.id})
        }])
    %}
{% endif %}

{{ allmega_render_actions_list({
        'info': {'content': 'meeting.label.points'|trans},
        'links': links
    })
}}