{% set meeting = params.meeting %}

<div class="allmega-meeting-points-list">
    <ul class="list-group">
        {% for point in meeting.points %}
            <li class="list-group-item">
                <div class="float-end">
                    {{ include(params.point.path ~ 'show/_actions.html.twig', {
                            'params': {
                                'pointVoter': params.pointVoter,
                                'route': params.point.route,
                                'path': params.point.path,
                                'domain': params.domain,
                                'data': params.data,
                                'point': point,
                            }
                        })
                    }}
                </div>
                <div class="clearfix">{{ point.title }}</div>
            </li>
        {% else %}
            <li class="list-group-item">{{ 'point.empty'|trans({}, params.domain) }}</li>
        {% endfor %}
    </ul>
</div>