{{ allmega_render_slider_content({
        'title': 'point.count'|trans({'%num%': meeting.points|length}, params.domain),
        'params': params|merge({'meeting': meeting}),
        'templates': {
            'content': params.path ~ 'show/points/_content.html.twig',
            'menu': params.path ~ 'show/points/_actions.html.twig',
        }
    })
}}