{% extends '@AllmegaMeeting/layout.html.twig' %}

{% block title %}
    {{ params.data.title|trans({}, params.domain) }}
{% endblock %}

{% block main %}
	{{ include(params.path ~ 'list/_layout.html.twig') }}
{% endblock %}