{% extends '@AllmegaMeeting/layout.html.twig' %}

{% block title %}
    {{ 'meeting.show'|trans({}, params.domain) ~ ' | ' ~ meeting.title }}
{% endblock %}

{% block main %}
	{{ include(params.path ~ 'show/_layout.html.twig') }}
{% endblock %}