{% if is_granted('ROLE_MEETING_MANAGER') or is_granted('ROLE_MEETING_AUTHOR') %}
    {{ allmega_render_confirmation({'action': 'delete', 'message': 'mediafile.delete_confirm'|trans({}, 'AllmegaMediaBundle') }) }}
{% endif %}