<div class="row">
    <div class="col-md-12">
        <p class="fw-bold text-center fs-5">{{ meeting.title }}</p>

        {% set params = params|merge({'card': true, 'size': 'md-4'}) %}
        <div class="allmega-root-list">
            <div class="row">
                {{ include(params.path ~ 'list/_slider.html.twig', {
                        'item': meeting, 'params': params|merge({'show': true})
                    })
                }}
                {{ include(params.path ~ 'show/users/_slider.html.twig') }}
                {{ include(params.path ~ 'show/points/_slider.html.twig') }}
            </div>
            {{ include(params.path ~ 'inc/_files.html.twig') }}
        </div>
    </div>
</div>