{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {'icon': 'tasks', 'content': 'meeting.show'|trans},
        'actionsList': {
            'info': {'show': true, 'content': include(params.path ~ 'list/_info.html.twig')},
            'links': [
                {
                    'path': path(params.route ~ 'index', {'id': params.data.type}),
                    'icon': 'backward', 'title': params.data.title|trans,
                }
            ]
        }
    })
}}