{{ include(params.path ~ 'show/_heading.html.twig') }}
{{ include(params.path ~ 'show/_content.html.twig') }}
{{ include(params.path ~ 'inc/confirm/_state.html.twig') }}
{{ include(params.path ~ 'inc/confirm/_file.html.twig') }}