{% trans_default_domain params.domain %}

{% set meeting = params.meeting %}
{% set links = [] %}

{% if not params.data.show and params.meetingVoter.isGranted('meeting-show', meeting, app.user) %}
    {% set links = links|merge([{
            'icon': 'eye', 'title': 'action.show'|trans,
            'path': path(params.route ~ 'show', {'id': meeting.id})
        }])
    %}
{% endif %}

{% if params.data.show and params.meetingVoter.isGranted('meeting-edit', meeting, app.user) %}
    {% set links = links|merge([
            {
                'load': true, 'icon': 'edit', 'title': 'meeting.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': meeting.id})
            },
            {
                'title': meeting.active ? 'meeting.deactivate'|trans : 'meeting.activate'|trans,
                'confirm': true, 'state': meeting.active,
                'path': path(params.route ~ 'state', {'id': meeting.id})
            }
        ])
    %}
{% endif %}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'list/_info.html.twig')},
        'links': links,
    })
}}