{% set meeting = params.meeting %}
<div class="allmega-meeting-content">
    <div class="allmega-meeting-description-area">
        {{ meeting.description|raw }}
    </div>
    {{ include(params.path ~ 'inc/_ext_link.html.twig') }}
    {{ allmega_render_tags(meeting.tags) }}
</div>