{% trans_default_domain params.domain %}

{% set links = [] %}

{% set isManager = params.data.type == 'manager' %}
{% set isAuthor = params.data.type == 'author' %}
{% set isMember = params.data.type == 'member' %}

{% if isManager or (isMember and is_granted('ROLE_MEETING_AUTHOR')) %}
    {% set icon = isMember ? 'list-alt' : 'backward' %}
    {% set links = links|merge([{
            'icon': icon, 'title': 'meeting.list.author'|trans,
            'path': path(params.route ~ 'index', {'id': 'author'})
        }])
    %}
{% elseif isAuthor %}
    {% if is_granted('ROLE_MEETING_MANAGER') %}
        {% set links = links|merge([{
                'icon': 'list-alt', 'title': 'meeting.list.manager'|trans,
                'path': path(params.route ~ 'index', {'id': 'manager'})
            }])
        %}
    {% endif %}
    {% set links = links|merge([
        {
            'load': true, 'icon': 'plus-circle',
            'path': path(params.route ~ 'add'),
            'title': 'meeting.create'|trans,
        }])
    %}
{% endif %}

{{  allmega_render_heading({
        'title': {
            'icon': 'users', 'content': params.data.title|trans,
            'count': meetings.totalItemCount
        },
        'actionsList': {
            'info': {'show': true, 'content': params.data.info|trans},
            'sort': {'item': item, 'sortables': meetings},
            'search': {
                'path': path('allmega_meeting_search', {'type': params.data.type}),
                'placeholder': 'meeting.search.meetings'|trans,
                'help': 'meeting.search.help'|trans,
            },
            'links': links
        }
    })   
}}