{% trans_default_domain params.domain %}

{% if meeting.moment %}
	<span class="fw-bold">{{ 'meeting.label.moment'|trans }}: </span><br>
	- <i class="fa-solid fa-calendar-alt"></i> 
	{{ meeting.moment|format_datetime('medium', 'short', locale='de') }}<hr>
{% endif %}

{% if meeting.moderator %}
	<span class="fw-bold">{{ 'meeting.label.moderator'|trans }}: </span><br>
	- <i class="fa-solid fa-user-tie"></i>{{ meeting.moderator.fullname }}<hr>
{% endif %}

{% if meeting.logger %}
	<span class="fw-bold">{{ 'meeting.label.logger'|trans }}: </span><br>
	- <i class="fa-solid fa-user-tie"></i>{{  meeting.logger.fullname }}<hr>
{% endif %}

{{ meeting|allmega_item_info }}