{{ include(params.path ~ 'list/_heading.html.twig') }}
{{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
{{ allmega_render_pagination(meetings) }}
{{ include(params.path ~ 'inc/confirm/_state.html.twig') }}