{% set badge = item.created|allmega_is_new %}
{{ allmega_render_slider_content({
        'title': badge ~ item.title, 'params': params|merge({'meeting': item}),
        'templates': {
            'content': params.path ~ 'list/_content.html.twig',
            'menu': params.path ~ 'list/_actions.html.twig',
        }
    })
}}