{% extends "@AllmegaBlog/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('meeting-css') }}
{% endblock %}

{% block main %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('meeting-js') }}
{% endblock javascripts %}