<div class="allmega-meeting-users-list">
    <div class="row">
        {% for user in params.meeting.members %}
            <div class="col text-center">
                <div class="shadow-lg p-2 text-nowrap">{{ user.fullname }}</div>
            </div>
        {% endfor %}
    </div>
</div>