{{ allmega_render_slider_content({
        'title': 'meeting.label.members'|trans({}, params.domain),
        'params': params|merge({'meeting': meeting}),
        'templates': {
            'content': params.path ~ 'show/users/_content.html.twig',
            'menu': params.path ~ 'show/users/_actions.html.twig',
        }
    })
}}