{% trans_default_domain params.domain %}

{% set point = params.point %}
{% set links = [] %}

{% if params.pointVoter.isGranted('meeting-point-edit', point, app.user) %}
    {% set links = links|merge([
            {
                'load': true, 'icon': 'edit', 'title': 'point.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': point.id})
            }
        ])
    %}
{% endif %}

{% if params.data.show %}
    {% set links = links|merge([
            {
                'icon': 'eye', 'title': 'action.show'|trans,
                'path': path(params.route ~ 'show', {'id': point.id})
            }
        ])
    %}
{% endif %}

{{ allmega_render_actions_list({
        'info': {'content': point|allmega_item_info},
        'links': links,
    })
}}