{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {'icon': 'tasks', 'content': 'point.show.title'|trans},
        'actionsList': {
            'info': {'show': true, 'content': 'point.show.info'|trans},
            'links': [
                {
                    'icon': 'backward', 'title': 'meeting.show'|trans,
                    'path': path(params.meeting.route ~ 'show', {'id': point.meeting.id})
                }
            ]
        }
    })
}}