{{ include(params.path ~ 'show/_heading.html.twig') }}
{{ include(params.path ~ 'show/_slider_wrapper.html.twig') }}
{{ allmega_render_comments(point.id, params.entityname) }}
{{ allmega_render_confirmation({'action': 'delete', 'message': 'mediafile.delete_confirm'|trans({}, 'AllmegaMediaBundle') }) }}