<div class="row">
    <div class="col-md-12">
        <p class="fw-bold text-center fs-5">{{ point.title }}</p>
        <div class="allmega-root-list">
            {{ include(params.path ~ 'show/_slider.html.twig') }}
            {{ allmega_media_render_files_widget({
                    'show': params.pointVoter.isGranted('meeting-point-edit', point, app.user),
                    'route': params.route ~ 'show',
                    'folder': point.mediaDir,
                    'navid': point.id,
                    'id': point.id
                })
            }}
        </div>
    </div>
</div>