{{ allmega_render_slider_content({
        'title': 'point.label.description'|trans({}, params.domain),
        'params': params|merge({'point': point}),
        'templates': {
            'content': params.path ~ 'show/_content.html.twig',
            'menu': params.path ~ 'show/_actions.html.twig',
        }
    })
}}